<h2>Todo Details</h2>
<form [formGroup]="detailForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="id">Id</label>
    <input class="form-control" id="id" formControlName="id" />
  </div>
  <div>
    <label id="isdone">isDone</label>
    <input class="form-control" id="isdone" formControlName="isDone" />
  </div>
  <div>
    <label for="title">Title</label>
    <input class="form-control" id="title" formControlName="title" />
  </div>
  <div>
    <label id="desc">Description</label>
    <input class="form-control" id="desc" formControlName="description" />
  </div>
  <button type="submit">save</button>
</form>
